@charset "UTF-8";
/*
*
*
*******Liên Hệ Báo Giá
*
*
*/
.container-contact .heading-text {
  text-align: center;
  margin-bottom: 54px;
}

.container-contact .heading-text .sub-heading {
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
  padding: 0;
  color: #979797;
  margin: 0;
  text-transform: uppercase;
}

.container-contact .heading-text .sub-heading.out {
  color: #979797;
}

.container-contact .heading-text .sub-heading.in {
  color: #ffffff;
}

.container-contact .heading-text .heading {
  padding: 10px 0 0;
  margin: 0;
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.container-contact .heading-text .heading.in {
  color: white;
}

.container-contact .heading-text .heading-line {
  width: 60px;
  margin: 20px 0;
  border: 1px dashed #f1773d;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.container-contact .heading-text .heading-line.in {
  border: 1px dashed #ffffff;
}

.container-contact .contain-swap {
  padding-top: 55px;
  background-image: url(../images/temps/casebg.png);
  background-size: cover !important;
  padding-bottom: 111px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: -5px;
}

.container-contact .contain-swap .wp-contact .input-text, .container-contact .contain-swap .wp-contact .input-area {
  background-color: white;
  border-color: rgba(255, 255, 255, 0.01);
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0;
  color: black;
  border-radius: 4px;
  margin-bottom: 30px;
  font-size: 18px;
  position: relative;
}

.container-contact .contain-swap .wp-contact .input-text:hover, .container-contact .contain-swap .wp-contact .input-area:hover {
  border: solid 1px #f1773d;
}

.container-contact .contain-swap .wp-contact .input-text {
  height: 50px;
  font-size: 18px;
}

.container-contact .contain-swap .wp-contact .btn-contact {
  height: 50px;
  border-color: transparent;
  font-size: 18px;
  color: white;
  font-weight: 700;
  border-radius: 3px;
  -webkit-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
  width: 100%;
  background-color: #f1773d;
}

.container-contact .contain-swap .wp-contact .btn-contact:hover {
  background-color: #cb5720;
}

.container-contact .contain-swap .wp-contact .loadingSending {
  display: none;
  font-size: 20px;
}

.container-contact .contain-swap .wp-contact .successSending {
  display: none;
  font-size: 20px;
}

.container-contact .contain-swap .wp-contact [rel="popover"] {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  left: -5px;
  top: 20%;
}

.container-contact .contain-swap .wp-contact .errorEmail, .container-contact .contain-swap .wp-contact .errorName, .container-contact .contain-swap .wp-contact .errorPhone {
  display: none;
  color: red;
  -webkit-animation: blinker 1s linear 3;
          animation: blinker 1s linear 3;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
