#p-d-tin-tuc img {
  width: 100%;
}

#p-d-tin-tuc .p-d-content-img {
  width: 100%;
}

#p-d-tin-tuc .p-d-w-title {
  border: 3px #b00000 solid;
  margin-bottom: 20px;
}

#p-d-tin-tuc .p-d-w-title h1.p-d-title {
  margin: 0;
  font-size: 18px;
  line-height: 36px;
  background: #b00000;
  color: #fff;
  border: 3px #fff solid;
  text-indent: 10px;
  font-weight: bold;
}

#p-d-tin-tuc .p-d-tintuc-bot .p-d-tintuc-bot-w {
  background: none repeat scroll 0 0 #fff5b4;
  border: 2px dashed #3366ff;
  margin-bottom: 10px;
  padding: 10px;
}
