@import url(https://fonts.googleapis.com/css?family=Roboto);body {
  font: 400 14px/20px Roboto, sans-serif !important;
  line-height: 1.6;
  webkit-font-smoothing: antialiased;
}

.empty-space-32 {
  height: 32px;
}

.dash-full-width {
  border-bottom: 1px solid #cccccc;
  height: 20px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif !important;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #f47d18, 0.6em 0 0 0 #f47d18;
  box-shadow: 0.5em 0 0 0 #f47d18, 0.6em 0 0 0 #f47d18;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #f47d18;
  box-shadow: 0 0 0 #f47d18;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #f47d18;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo-300x197.png);
  height: calc(56px*3);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

.phone_hotline {
  position: fixed;
  bottom: 0;
  right: 0;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.nivoSlider {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.nivoSlider img {
  height: 100% !important;
}

.nivo-main-image {
  height: 100% !important;
}

.slider-on-mobile {
  position: relative;
}

.slider-on-mobile .slider-mobile {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  padding-top: 40px;
}

.slider-on-mobile .slider-mobile-text {
  position: absolute;
  display: block;
  text-align: center;
  top: 63.5%;
  z-index: 99999;
  color: #9b1e22;
  width: 100%;
  font-weight: 900;
}

.slider-on-mobile .slider-mobile-text .slider-header {
  font-size: 20px;
  text-transform: uppercase;
  float: left;
  padding-left: 5%;
}

.slider-on-mobile .slider-mobile-text .slider-header a {
  color: #9b1e22;
}

.slider-on-mobile .slider-mobile-text .slider-description {
  font-size: 20px;
  float: right;
  padding-right: 7%;
}

.slider-on-mobile .slider-mobile-text .slider-description a {
  color: #9b1e22;
}

.slider-on-mobile .slider-lienhe {
  position: absolute;
  top: 90.5%;
  z-index: 99999;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.slider-on-mobile .slider-lienhe .btn-lienhe {
  background-color: #960d13;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  width: 50%;
  height: 50px;
  -webkit-transition: background-color .2s linear 0s;
  transition: background-color .2s linear 0s;
}

.slider-on-mobile::after {
  position: absolute;
  content: '';
  display: block;
  min-height: 100vh;
  width: 100%;
  top: 0;
}

#slider2 {
  position: relative;
}

#slider2 img.slideshow {
  width: 100%;
}

#slider2 .slider-text-thongminh {
  position: absolute;
  z-index: 1;
  top: 61%;
  left: 58%;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
}

#slider2 .slider-text-thongminh a {
  color: white;
}

#slider2 .slider-text-khacbiet {
  position: absolute;
  z-index: 1;
  top: 28%;
  left: 87%;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
}

#slider2 .slider-text-khacbiet a {
  color: white;
}

#slider2 .slider-text-pttt {
  position: absolute;
  z-index: 1;
  top: 29%;
  left: 56%;
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  line-height: 1;
}

#slider2 .slider-text-pttt a {
  color: white;
}

#slider2 .slider-text-vt {
  position: absolute;
  z-index: 1;
  top: 17%;
  left: 71%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
}

#slider2 .slider-text-vt a {
  color: white;
}

#slider2 .slider-text-ti {
  position: absolute;
  z-index: 1;
  top: 44%;
  left: 75%;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
}

#slider2 .slider-text-ti a {
  color: white;
}

.blink_me {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 415px) {
  .nivoSlider {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .nivoSlider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  #slider2 {
    position: relative;
  }
  #slider2 img.slideshow {
    width: 100%;
  }
  #slider2 .slider-text-thongminh {
    position: absolute;
    z-index: 1;
    top: 61%;
    left: 58%;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    line-height: 1;
  }
  #slider2 .slider-text-thongminh a {
    color: white;
  }
  #slider2 .slider-text-khacbiet {
    position: absolute;
    z-index: 1;
    top: 27%;
    left: 87%;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    line-height: 1;
  }
  #slider2 .slider-text-khacbiet a {
    color: white;
  }
  #slider2 .slider-text-pttt {
    position: absolute;
    z-index: 1;
    top: 29%;
    left: 54%;
    text-align: center;
    font-size: 34px;
    font-weight: 900;
    line-height: 1;
  }
  #slider2 .slider-text-pttt a {
    color: white;
  }
  #slider2 .slider-text-vt {
    position: absolute;
    z-index: 1;
    top: 17%;
    left: 72%;
    text-align: center;
    font-size: 19px;
    font-weight: 900;
    line-height: 1;
  }
  #slider2 .slider-text-vt a {
    color: white;
  }
  #slider2 .slider-text-ti {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 75%;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    line-height: 1;
  }
  #slider2 .slider-text-ti a {
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    min-height: 100vh;
  }
}

.menu-desktop .header-menu {
  background: #e10717;
}

.menu-desktop .header-menu ul.sub-menu {
  float: right;
}

.menu-desktop .header-menu ul.sub-menu li {
  float: left;
}

.menu-desktop .header-menu ul.sub-menu li a {
  padding: 0 17px;
  line-height: 40px;
  color: white;
  font-weight: bold;
}

.menu-desktop .header-menu ul.sub-menu li a.sm-icon-phone {
  position: relative;
}

.menu-desktop .header-menu ul.sub-menu li a.sm-icon-phone:before {
  content: '\F10B';
  font-family: FontAwesome;
  position: absolute;
  left: 0px;
  font-size: x-large;
}

.menu-desktop .bottom-menu {
  padding: 0;
  min-height: 60px;
  border: none;
  margin: 0 auto;
  margin-bottom: 1px;
  margin-bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #b00000), to(#e80000));
  background: linear-gradient(to bottom, #b00000 1%, #e80000 100%);
}

.menu-desktop .bottom-menu ul.main-menu {
  float: right;
}

.menu-desktop .bottom-menu ul.main-menu li {
  float: left;
  position: relative;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.menu-desktop .bottom-menu ul.main-menu li a {
  border: none;
  padding: 0 17px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
  margin: 0 0;
  font-size: 16px;
  line-height: 60px;
  background: url(../images/temps/ke.png) left center no-repeat;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.menu-desktop .bottom-menu ul.main-menu li:hover {
  background-color: #E89801;
  color: #ddd;
}

.menu-desktop .bottom-menu ul.main-menu li:hover > ul {
  display: block;
}

.menu-desktop .bottom-menu ul.main-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #E89801;
  padding: 0;
  z-index: 9;
}

.menu-desktop .bottom-menu ul.main-menu ul li {
  float: none;
  width: 200px;
  border-bottom: 1px #ccc solid;
}

.menu-desktop .bottom-menu ul.main-menu ul li a {
  background: none;
}

.menu-desktop .bottom-menu ul.main-menu ul li:hover {
  background-color: #222;
}

.menu-desktop .img-logo-1 {
  right: 0px;
  top: 0px;
  width: 270px;
  height: 152px;
  position: absolute;
  z-index: 9999;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.menu-desktop .img-logo-2 {
  right: 0px;
  top: -70px;
  width: 270px;
  height: 152px;
  position: absolute;
  z-index: 9999;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.menu-desktop .move-down {
  top: 0px;
}

.menu-desktop .move-up {
  top: -50px;
}

@media screen and (max-width: 1024px) {
  .menu-desktop .img-logo-1 {
    width: 270px;
  }
  .menu-desktop .move-down {
    top: 60px;
    right: -190px;
  }
  .menu-desktop .move-up {
    top: -160px;
    right: -210px;
  }
}

@media screen and (max-width: 992px) {
  .menu-desktop .img-logo-1 {
    width: 200px;
  }
  .menu-desktop .move-down {
    top: 60px;
    right: -190px;
  }
  .menu-desktop .move-up {
    top: -160px;
    right: -170px;
  }
}

#footer {
  margin-top: 15px;
}

#footer .f-hotline {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: linear-gradient(to bottom, #b00000 1%, #e80000 100%);
  color: white;
}

#footer .f-hotline span {
  font-size: 20px;
}

#footer .f-wrap-info {
  background-color: #fe0202;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 18px;
  text-align: justify;
  line-height: 1.2;
}

#footer .f-wrap-info .f-img-logo {
  width: 50%;
}

#footer .f-bottom {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #b00000), to(#e80000));
  background: linear-gradient(to bottom, #b00000 1%, #e80000 100%);
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer .f-bottom span {
  color: white;
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #footer .f-bottom {
    text-align: center;
  }
}
