#khuyen-mai .km-top {
  display: table;
}

#khuyen-mai .km-top span.km-span-dash {
  display: table-cell;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

#khuyen-mai .km-top span.km-span-dash .line {
  height: 1px;
  border-top: 3px solid #eeee22;
  border-bottom: 3px solid #ebebeb;
  display: block;
  position: relative;
  top: 1px;
  width: 100%;
}

#khuyen-mai .km-top h4 {
  white-space: pre;
  padding: 0 0.8em;
  color: #dcb91c;
  text-transform: uppercase;
}

#thong-tin ul li {
  float: left;
  width: 100%;
  min-height: 1em !important;
  margin: 0 0 80px !important;
}

#thong-tin ul li .tt-left {
  float: right;
}

#thong-tin ul li .tt-right {
  float: left;
}

#thong-tin ul li .tt-icon {
  position: relative;
  font-size: 32px;
  border-width: 0px;
  border-style: none;
  background: #dcb91c;
  color: #ffffff;
  border-color: #dcb91c;
  width: 3em;
  text-align: center;
  height: 1.5em;
  line-height: 1.5em;
}

#thong-tin ul li .tt-icon:before {
  content: "";
  position: absolute;
  top: -1em;
  left: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-bottom: 1em solid;
  border-bottom-color: inherit !important;
}

#thong-tin ul li .tt-icon:after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: 0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-top: 1em solid;
  border-top-color: inherit !important;
}

#thong-tin ul li .tt-d-left {
  text-align: right;
  margin-right: 1em;
  padding-right: 105px;
}

#thong-tin ul li .tt-d-right {
  text-align: left;
  margin-left: 1em;
  padding-left: 105px;
}

#gioi-thieu {
  background-color: #dcb91c;
  padding: 15px 0px 15px 0;
}

#gioi-thieu .gt-img {
  border-radius: 50%;
}

#ban-do {
  padding: 15px 0px 15px 0;
}

#ban-do .bd-img {
  width: 100%;
}

#vi-tri {
  padding: 50px 0px 50px 0;
  background-color: #dcb91c;
}

#vi-tri ul li {
  margin-bottom: 15px;
  color: white;
  font-size: 16px;
  position: relative;
  margin-left: 45px;
}

#vi-tri ul li:before {
  content: '\F18E';
  font-family: FontAwesome;
  left: -45px;
  font-size: 35px;
  color: white;
  position: absolute;
}

#tien-ich .ti-top {
  display: table;
}

#tien-ich .ti-top span.ti-span-dash {
  display: table-cell;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

#tien-ich .ti-top span.ti-span-dash .line {
  height: 1px;
  border-top: 3px solid #eeee22;
  border-bottom: 3px solid #ebebeb;
  display: block;
  position: relative;
  top: 1px;
  width: 100%;
}

#tien-ich .ti-top h4 {
  white-space: pre;
  padding: 0 0.8em;
  color: #dcb91c;
  text-transform: uppercase;
}

#tien-ich .tt-list-img #lightgallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#tien-ich .tt-list-img #lightgallery .ti-img {
  width: 285px;
  height: 157px;
}
