#footer {
  margin-top: 15px;
  .f-hotline {
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #f47d18;
    color: white;
    span {
      font-size: 20px;
    }
  }
  .f-wrap-info{
    background-color: #3f3f3f;
    color:white;
    padding-top: 18px;
    padding-bottom: 18px;
    .f-img-logo{
      width: 100%;
    }
  }
  .f-bottom {
    background-color: #2f2f2f;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    span {
      color: white;
      display: block;
      width: 100%;
    }
  }
}