.menu-desktop {
  padding: 0;
  min-height: 60px;
  border: none;
  margin: 0 auto;
  margin-bottom: 1px;
  min-width: 1200px;
  margin-bottom: 0;
  background: #000941;
  position: relative;
  ul.main-menu {
    float: right;
    li {
      float: left;
      transition: all 0.4s ease-in-out 0s;
      position: relative;
      a {
        border: none;
        padding: 0 17px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 0;
        margin: 0 0;
        font-size: 16px;
        line-height: 60px;
        background: url(../images/temps/ke.png) left center no-repeat;
        transition: all 0.4s ease-in-out 0s;
      }
    }
    li:hover {
      background-color: #dcb91c;
      color: #ddd;
    }
    li:hover > ul {
      display: block;
    }
    ul{
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #dcb91c;
      padding: 0;
      z-index: 9;
      li{
        float: none;
        width: 200px;
        border-bottom: 1px #ccc solid;
        a{
          background: none;
        }
      }
      li:hover{
        background-color: #222;
      }
    }
  }
}