$main-title-color: rgba(176,0,0,1);
#p-d-tin-tuc {
  img{
    width: 100%;
  }
  .p-d-content-img {
    width: 100%;
  }
  .p-d-w-title {
    border: 3px $main-title-color solid;
    margin-bottom: 20px;
    h1.p-d-title {
      margin: 0;
      font-size: 18px;
      line-height: 36px;
      background: $main-title-color;
      color: #fff;
      border: 3px #fff solid;
      text-indent: 10px;
      font-weight: bold;
    }
  }
  .p-d-tintuc-bot{
    .p-d-tintuc-bot-w{
      background: none repeat scroll 0 0 #fff5b4;
      border: 2px dashed #3366ff;
      margin-bottom: 10px;
      padding: 10px;
    }
  }
}