#vi-tri {
  padding: 50px 0px 50px 0;
  background: $main-bg-color;
  ul {
    li {
      margin-bottom: 15px;
      color: white;
      font-size: 16px;
      position: relative;
      margin-left: 45px;
    }
    li:before {
      content: '\f18e';
      font-family: FontAwesome;
      left: -45px;
      font-size: 35px;
      color: white;
      position: absolute;
    }
  }
}