#p-tin-tuc {
  .p-tintuc-headline {
    background: url(../images/temps/stripe.png) right center repeat-x;
    margin-bottom: 0;
    display: flex;
    h1 {
      padding: 5px 15px 5px 15px;
      font-size: 18px;
      font-weight: bold;
      color: #381f14;
      float: left;
      background: #fff;
      margin-bottom: 0;
      padding-left: 0;
      text-transform: uppercase;
    }
  }
  .p-tintuc-intro {
    background: url(../images/temps/bong1.png) bottom center no-repeat;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: justify;
    border-left: 5px solid #ddbb1b;
    color: #000;
    font-style: italic;
    font-weight: 600;
    margin-top: 5px;
    padding: 20px;
  }
  .p-tintuc-post {
    border-bottom: 1px #999 dashed;
    padding-bottom: 20px;
    padding-top: 20px;
    .p-tintuc-post-img {
      width: 100%;
      height: 200px;
    }
    .p-tintuc-post-title {
      color: #ddbb1b;
      font-size: 20px;
    }
    .p-tintuc-post-content {
      text-align: justify;
      line-height: 1.9;
      font-size: 16px;
    }
  }
  .p-tintuc-post-bot{
    .p-tintuc-post-bot-w{
      background: none repeat scroll 0 0 #fff5b4;
      border: 2px dashed #3366ff;
      margin-bottom: 10px;
      padding: 10px;
    }
  }
}

@media screen and(max-width: 768px) {
  #p-tin-tuc {
    .p-tintuc-post {
      .p-tintuc-post-content {
        line-height: 1.1;
      }
    }
  }
}
