#tien-ich{
  .ti-top {
    display: table;
    span.ti-span-dash {
      display: table-cell;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
      .line {
        height: 1px;
        border-top: 3px solid $main-title-color;
        border-bottom: 3px solid #ebebeb;
        display: block;
        position: relative;
        top: 1px;
        width: 100%;
      }
    }
    h4{
      white-space: pre;
      padding: 0 0.8em;
      color: $main-title-color;
      text-transform: uppercase;
    }
  }
  .ti-list-img{
    #lightgallery{
      display: flex;
      flex-wrap: wrap;
      .ti-img{
        width: 285px;
        height: 157px;
        padding: 0 5px;
      }
      .ti-name{
        display: block;
        text-align: center;
        color: white;
        background-color: $main-title-color;
        margin: -6px 5px 10px;
      }
    }
  }
}
@media screen and(max-width: 768px) {
  #tien-ich{
    .ti-top {
      span.ti-span-dash {
        display: none;
      }
      h4{
        white-space:normal;
        text-align: center;
      }
    }
    .ti-list-img{
      #lightgallery{
        display: block;
        text-align: center;
        .ti-img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}