$main-bg-color:  linear-gradient(to bottom, rgba(176,0,0,1) 1%,rgba(232,0,0,1) 100%);
$main-title-color: rgba(176,0,0,1);
@import "fe.trangchu.km";
//@import "fe.trangchu.tt";
@import "fe.trangchu.tt2";
//@import "fe.trangchu.gt";
@import "fe.trangchu.tk";
@import "fe.trangchu.gt2";
@import "fe.trangchu.bd";
//@import "fe.trangchu.vt";
@import "fe.trangchu.vt2";
//@import "fe.trangchu.ti";
@import "fe.trangchu.ti2";
@import "fe.trangchu.lh";
@import "fe.trangchu.ttda";
.img-fancy{
display: none;
}