$main-bg-color:  linear-gradient(#f4e184, #c9ab56);
$main-title-color: #daa43b;
@import "fe.trangchu.km";
@import "fe.trangchu.tt";
@import "fe.trangchu.gt";
@import "fe.trangchu.bd";
@import "fe.trangchu.vt";
@import "fe.trangchu.ti";
@import "fe.trangchu.lh";
@import "fe.trangchu.ttda";
.img-fancy{
display: none;
}